@model IEnumerable<MVC.Models.mvcUserModel>

@{
    ViewBag.Title = "Index";
}
<br/>

<p>
    <a href="@Url.Action("AddorEdit","User")" class="btn btn-default"><i class="fa fa-plus"></i>Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>Actions</th>
    </tr>
        </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <a href="@Url.Action("AddorEdit", "User", new { id = item.Id})" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>

            <a onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash"></i> Delete</a>
        </td>
    </tr>
}

</table>


@section scripts {
    <script>

        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('User Management System', 'Are You Sure to Delete this User?', function () {
                window.location.href = '@Url.Action("Delete","User")/' + id;
            }, null);
        }

    </script>
    }